<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration>	
	<!-- SQL语句映射信息 -->
	<mappers>
		<mapper resource="dao/UserDaoMapper.xml" />
		<mapper resource="dao/RoleDaoMapper.xml"/>
		<mapper resource="dao/ProviderDaoMapper.xml"/>
		<mapper resource="dao/BillDaoMapper.xml"/>
	</mappers>
</configuration>