<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	namespace=""  命名空间，防止所有的包名不能重复
	值的规则：接口的完全包名.接口名
 -->
<mapper namespace="dao.ProviderDao">
	<!-- 查询所有供应商 -->
	<select id="queryAllProvider" resultType="pojo.Provider">
		select * from smbms_provider
		<if test="pageSize != 0">limit #{currentPageNo},#{pageSize}</if>
	</select>
	<select id="queryProCodeOrProNameByProvider" resultType="pojo.Provider">
		select * from smbms_provider
		<trim prefix="where" prefixOverrides="and">
			<if test="proCode != null">and proCode = #{proCode}</if>
			<if test="proName != null">and proName = #{proName}</if>
		</trim>
		<if test="pageSize != 0">limit #{currentPageNo},#{pageSize}</if>
	</select>
	<!-- 查询供应商数量 -->
	<select id="queryProviderNumber" resultType="int">
		select count(*) from smbms_provider
	</select>
	<!-- 根据编号查询用户 -->
	<select id="queryIdByPrivider" resultType="pojo.Provider">
		select * from smbms_provider where id=#{id}
	</select>
	<!-- 新增供应商 -->
	<insert id="addProvider" parameterType="pojo.Provider">
		INSERT INTO `smbms_provider` VALUES (null, #{proCode}, #{proName}, #{proDesc}, #{proContact}, #{proPhone}, #{proAddress}, #{proFax}, #{createdBy}, now(), now(), #{modifyBy}, #{companyLicPicPath}, #{orgCodePicPath});
	</insert>
	<!-- 删除供应商 -->
	<delete id="deleteProvider" parameterType="int">
		delete from smbms_provider where id = #{id}
	</delete>
</mapper>